/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.img-container {
    position: relative;
    width: 400px;
    flex-shrink: 0;
}

.photo-credit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    text-align: center;
}

.photo-credit a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@font-face {
    font-family: my-norse-font;
    src: url(./norse/Norse.otf);
    font-weight: normal;
}

@font-face {
    font-family: my-norse-font;
    src: url(./norse/Norsebold.otf);
    font-weight: bold;
}

.logo {
    color: white;
    position: absolute;
    bottom: 500px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 50px;
    font-family: my-norse-font, sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    font-size: 20px;
    min-height: 100vh;
    background-color: #fff;
}

.first-part {
    padding: 100px 60px 40px 35px;
    font-weight: bold;
    background-color: rgb(251, 251, 251);
}

.intro,
.sub-intro {
    margin-bottom: 10px;
    max-width: 550px;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

fieldset div {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    border: 0.5px solid;
    border-radius: 4px;
    padding: 1px 1px;
    width: 250px;
}

.second-part .second-txt {
    font-weight: bold;
    margin-bottom: 15px;
}

.second-part {
    padding: 0px 60px 40px 35px;
}

button{
    color: #fffffffc;
    background-color: rgba(117, 117, 125);
}

.third-part{
    background-color: rgb(251, 251, 251);
    padding-left: 40px;
    font-weight: bold;
}

.third-part button{
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 40px;
}

.third-part em{
    color: red;
}
